@import "../../sass_mixins/mixin.scss";

.boxFood{
    @include flex(space-between);
    margin-bottom: 2vh;
    transition: .5s;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;

    h4{
        font-size: .8em;
    }
}

.boxFood:hover{
    background-color: #f2eded;
}