@import "../../sass_mixins/mixin.scss";

.navbar {
  @include flex(space-between);
  width: 100%;
  background-color: #000;
  padding: 10px 2%;
  cursor: pointer;

}

  .container_menu {
    width: 100%;
    @include flex(flex-end);

    .profile_desktop {
      position: absolute;
      right: 10px;
     }

  }

  .logo {
    width: 40px;
    height: 40px;

    img {
      @include max_dimensions;
    }
  }

  .menu {
    position: absolute;
    background-color: #000;
    display: none;

    ul {
      li {
        @include flex(center);

        svg {
          width: 1em;
          height: 1em;
          color: white;
          margin-right: 8px;
        }

        transition: 0.5s;
        padding: 5px 0;
      }
    }

    li:hover {
      @include hover_effect;
    }
  }

  a,
  li {
    color: white;
    font-size: 1em;
  }

  .menu_desktop {
    width: 100%;
    max-width: 450px;
    margin-right: 8%;

    ul {
      @include flex(flex-end);
      gap: 10px;

      li {
        margin-right: 15px;
      }
    }
  }

  .menu_contact {
    z-index: 5;
    top: 50px;

    .container_contact {
      @include flex(center);
      margin-bottom: 5px;
      padding: 5px;
      gap: 5px;
    }

    .container_contact:hover {
      @include hover_effect;
    }
  }

  .icon_menu_mobile{
    display: none;
    width: 2.3em;
    height: 2.3em;
    color: #fff;
    z-index: 5;
    transition: .2s;
    position: fixed;

    svg{
      @include max_dimensions;
    }
    
  }

  .menu_mobile {
    @include max_dimensions;
    background-color: #000;
    padding: 20px 5px;
    max-width: 60px;
    position: fixed;
    right: -60px;
    top: 0;
    z-index: 3;
    transition: .5s;

    ul {
      @include max_dimensions;
      @include flex(flex-start);
      gap: 35px;
      flex-direction: column;

      li {
        margin-top: 40px;
        svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
  }


.footer {
    text-align: center;
    width: 100%;
    padding: 30px;
    color: #ccc;
    background-color: #000;

    p {
      font-size: 13px;
    }
  }


//responsive
@media screen and (max-width: 650px) {
  .menu_desktop {
    display: none;
  }

  .profile_desktop{
    display: none;
  }

  .icon_menu_mobile{
    display: block;
  }

}
