@import "../../sass_mixins/mixin.scss";

.about_client{
    width: 40px;
    height: 40px;
   
    .photo_client{
        @include max_dimensions;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        
        a{
            @include flex(center);
            @include max_dimensions;
            
             img{
                border-radius: 50%;
                @include max_dimensions;
               }

               svg{
                color: #000;
               }
         }


    }
    
}
