@import "../../sass_mixins/mixin.scss";

.promotions{
    margin: 10vh;
    
}
    .header_promotions{
        width: 100%;
        @include flex(center);
        gap: 5vw;

        h2{
            font-size: 3em;
        }

        .line{
            width: 100%;
            max-width: 190px;
            height: .9vh;
            background-color: #e65f1c;
          }
    }

    .img_promotions{
        @include flex(space-between);
        margin: 10px auto;
        padding: 15px;
        border-radius: 10px;

        img{
           height: 90%;
           width: 30%;
           object-fit: contain;
        }
    }


@media screen and (max-width: 650px){
    .header_promotions {
        h2{
            font-size: 2em;
        }
    }

    .img_promotions{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 500px){
    .header_promotions {
        h2{
            font-size: 1.5em;
        }
    }
}


  
   