@import "../../sass_mixins/mixin.scss";


main{
    width: 100%;
    height: 86vh;
    position: relative;
   
    .banner_about{
        width: 100%;
        height: 100%;
    }

    .box_about{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        @include display-flex;
        justify-content: space-around;

        .box_single{
            margin: 10px;
            width: 33%;
            max-width: 400px;
            background-color: rgba(0,0,0,0.8);
            padding: 20px 10px;
            height: 75vh; 
            color: white;
            border-radius: 10px;

            h2{
                text-align: center;
            }

            p{
                margin: 10px;
            }
            
            ul{
                list-style-type: none;
                
                li{
                    margin:10px
                }
            }

            .box_testimonials{
                  margin-bottom: 10px;
                  background-color: #ccc;
                  padding: 5px 1%;
                  color: #000;
                  border-radius: 10px;
                  
                    p{
                        font-size: .9em;
                    }

                .header_testimonial{
                    width: 100%;
                    @include flex(flex-start);
                    padding: 5px;
                    img{
                        width: 40px;
                        height: 40px;
                        margin: 0 10px;
                        border-radius: 50%;
                    }
                }
            }

        }
     }
     
}