@import "../../sass_mixins/mixin.scss";

.data_client{
   width: 100%;
   height: 80vh;
   @include flex(center);
   position: relative;

    img{
        width: 100%;
        height: 100%;
        @include position_absolute(0,0,auto);
        object-fit: cover;
    }

            img.profile_photo{
                margin: 10px auto;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                object-fit: cover;
                position: inherit;
             }
 

         form{

            svg{
                padding: 10px;
                width: 50px;
                height: 50px;
                background-color: #ccc;
                border-radius: 50%;
            }

            h4{
                margin: 10px 0;
            }
 
            label{
                display: block;
                margin: 15px 0;


            }
        }
        

}