@import "../../sass_mixins/mixin.scss";

.banner_form_login {
  padding: 0 1%;
  @include flex(center);
  width: 100%;
  height: 100vh;
  background-image: url("../../images/banners/banner_form_login.jpg");
  background-position: center;
  background-size: cover;

  .form_animation {
    @include flex(space-between);
    margin: 20px 0;

    img {
      width: 20px;
      height: 20px;
      opacity: 0;
    }
  }

   label{
      position: relative;

      .visibility-password{
       width: 18px;
       height: 18px;
        position: absolute;
        top: -1vh;
        right: 0;

          svg{
            @include max_dimensions;
            cursor: pointer;
            color: #3c3e42;
          }
       }
   }
}

.banner_form_add {
  @include flex(center);
  width: 100%;
  height: 100vh;
  background-image: url("../../images/banners/banner_add_client.jpg");
  background-position: center;
  background-size: cover;

  img{
    width: 20px;
    height: 20px;
  }
}
