@import "../../sass_mixins/mixin.scss";

.menu_element {
    height: 79vh;
} 
  .banner_menu {
    @include max_dimensions;
    padding-top: 50px ;

    background-image: url("https://www.emporiotambo.com.br/pub/media/resized/1300x800/ves/blog/xguia-de-mesa.jpg.pagespeed.ic.M976sIeg6W.jpg");
    background-size: cover;
    background-position: center;


    .menuCard {
      @include flex(space-evenly);
      gap: 15px;
      width: 100%;
      height: 65vh;
      position: absolute;
      top: 20%;

      img {
        width: 60px;
        height: 60px;
        cursor: pointer;
      }

      .cover_menu {
        @include max_dimensions;
        max-width: 800px;
        background-color: #821414;
        border-radius: 10px;
        position: relative;

        .page {
          width: 48%;
          height: 90%;
          background-color: #fff;
          transition: 1s;
          padding: 5px;
          border: 1px solid #1a1919;

          h2{
            text-align: center;
            margin-bottom: 2px;
            font-size: 18px;
          }
        }

        .page_one {
          -webkit-box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.75);
        }

        .page_one,
        .page_two {
          z-index: 1;
        }

        .page_one,
        .page_three,
        .page_five {
          transform-origin: right;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-left: 5px solid #ccc;
          position: absolute;
          left: 2%;
          top: 5%;
        }

        .page_two,
        .page_four,
        .page_six {
          transform-origin: left;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-right: 5px solid #ccc;
          @include position_absolute(auto,5%,2%);
        }

        .page_six {
          -webkit-box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.75);
           box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }

@media screen and (max-width:768px){
  .menuCard{
    img{
      width: 60px;
      height: 60px;
    }
  }
}


@media screen and (max-width:600px){
  .menuCard{
    img{
      width: 30px;
      height: 30px;
     }
  }
}
