@mixin display-flex{
    display: flex;
}

@mixin flex($spacing){
    @include display-flex();
    justify-content: $spacing;
    align-items: center;
}

@mixin position_absolute($value_left, $value_top, $value_right: none){
    position: absolute;
    left: $value_left;
    top:$value_top;
    right: $value_right;
}

@mixin max_dimensions{
    width: 100%;
    height: 100%;
}

@mixin hover_effect{
    background-color: #302c2c;
    transition: .5s;
}